.primaryPurpleButton {    
    padding: 0.70rem 2rem 0.7rem 2rem;
    border-radius: 5px;
    border-style: unset;
    background-color: #7433F1;
    color: white;
    font-weight: bold;
}

input.search {
    margin: 0 1rem 0 0;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form {
    margin-bottom: 3rem;
}