section {
    padding:2rem;
}

header {
    padding: 2rem;
    background-color: #7433F1;
}

h1 {
    text-align: center;
    color: white;
    margin:0;
}

.lightVioletBg {
    background-color: #F3ECFE;
}

div {
    height: 100%;
}